#goombas {padding:50px;
margin-left: 400px;}

.bomb-ombs{padding:50px;
margin-left: 400px;}

.cheepcheeps{padding:50px;
    margin-left: 400px;}

footer {margin-top:50px;
    margin-left:0px;}

h1 {margin-left:600px;
    font-size: 50px;
}